body {
  background: url('./image/hp-seamless.jpeg');
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}
.card {
  position: relative;
  padding: 20px;
  margin: 20px;
  width: 350px;
  height: 450px;
  background-color: #1f5677;
  box-shadow: 0 0 15px rgba(252, 229, 103, 0.75);
  clip-path: polygon(0, 100% 0, 100% 100%, 0 100%);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.card::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-radius: 20px;
  border: 5px double #cfcfcf;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    0 100%
  );
}

img {
  width: 60px;
  margin-left: 40%;
}
